.home-container-light {
  background-color: #020202;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  justify-content: center;
}
.bg-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
.bg-container::-webkit-scrollbar {
  display: none;
}

.home-container-dark {
  background-color: #fff;
  color: #020202;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.heading {
  color: #171f46;
}
